.Footer {
    display: flex;
    height: 100px;
    width: 100%;
    color: #FFFFFF;
    font-size: calc(12px + 0.8vw);
    background: rgba(34,139,34,1.0);
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
