    .gdd-base-select {
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        //margin: 0px 0px 10px 0px;
        margin: 1vw;
    }

    .gdd-base-select-label {
        //margin: 10px 0px 10px 8px;
        //margin: 2px 0px 2px 8px;
        margin: 2px 0px 2px 1vw;
        //margin: 1vw;
        font-size: 16px;
    }

    .gdd-base-select-menu {
        //margin: 0px 0px 0px 8px;
        margin: 1vw;
        width: 80px;
        font-size: 16px;
        border: 2px solid rgba(34,139,34,1.0);
    }

    .gdd-base-select-8650 {
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        //margin: 0px 0px 10px 0px;
        //margin: 1vw;
        //margin-top: 7vw;
        margin-left: 1vw;
        //font-size: calc(12px + 0.8vw);
    }

   .hide-gdd-base-select-8650 {
       display: none;
   }
