    .gdd-base-input {
        width: 170px;
        z-index: 0;
    }

    .gdd-base-select-label {
        //margin: 10px 0px 10px 8px;
        //margin: 2px 0px 2px 8px;
        margin: 2px 0px 2px 1vw;
        //margin: 1vw;
        font-size: 16px;
    }

    .gdd-base-select-menu {
        //margin: 0px 0px 0px 8px;
        display: flex;
        position: relative;
        margin: 1vw;
        width: 200px;
        height: 40px;
        font-size: 16px;
        valign: bottom;
        //border: 2px solid rgba(34,139,34,1.0);
    }

    .gdd-base-dropdown {
        width: 100px;
        height: 42px;
        font-size: 16px;
        position: absolute;
        bottom: 0;
        left: 0;
        //border: 2px solid rgba(34,139,34,1.0);
        border: 2px solid rgba(34,139,34,1.0);
        border-radius: 6px;
    }

    .gdd-base-select-8650 {
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        //color: #D3D3D3;
        color: #B8B8B8;
        margin-left: 1vw;
        position: absolute;
        bottom: 0;
        right: 0;
    }

   .hide-gdd-base-select-8650 {
       display: none;
   }

