.gdd-tool {
    // flex puts tool ui on left side of chart
    //display: flex;
    //margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vw;
}
.gdd-ui {
    display: flex;
    margin-left: 0vw;
}
