.scan-header {
    display: flex;
    //flex-direction:column;
    height: 80px;
    width: 100%;
    border-bottom: 0.4vw solid rgba(34,139,34,1.0);
}

.scan-logo {
    height: 60px;
    width: 80px;
    //height: 60px;
    //width: calc(100px+20vw);
    border: 2px solid rgba(34,139,34,1.0);
}

.scan-text {
    margin-top: calc(6px + 0.5vw);
    margin-left: calc(6px + 0.5vw);
    line-height: calc(16px + 0.5vw);
    font-size: calc(16px + 0.8vw);
    color: rgba(34,139,34,1.0);
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.scan-banner {
    margin-top: calc(6px + 0.5vw);
    font-size: calc(16px + 0.8vw);
}

.scan-tag-line {
    font-size: calc(10px + 0.8vw);
}
