button:focus {outline:0;}

    .StationExplorerMap{
        float:left;
        //right: 7vw;
        //margin: 10px 5vw 10px 5vw;
        //margin: 10px 10px 10px 0px;
        border: none;
        text-align: center;
        display: inline-block;
    }

    .station-explorer-header {
        font-size: calc(16px + 1.0vw);
        //font-size: 20px;
        margin: 1vw;
    }

    .leaflet-container {
        //height: 360px;
        //width: 680px;
        //margin: 0 auto;
        z-index: 1;
    }

    .leaflet-container path{
        transition: fill .75s;
        //transition: fill 1.0s;
    }

    .map-container {
        //height: 460px;
        //width: 724px;
        //margin: 0 auto;
        z-index: 1;
    }

.map-home {
    //margin: 0px 0px 10px 80px;
}

.map-home-button {
    width: 33px;
    height: 33px;
    color: #000000;
    //font-weight: bold;
    //font-size: 16px;
    border-radius: 4px;
    border: 2px solid #CCCCCC;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.map-home-button:hover {
    background-color: #EEEEEE;
}
