.ToolContents {
    //height: 100px;
    //width: 900px;
    display: flex;
    width: 100%;
    //background: #00ff00;
}
.tool-pre-select {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    margin: 20px;
}
.tool-contents {
    margin: 20px 0px 0px 0px;
}
.tool-contents .tool-title {
    font-size: 28px;
}
